@font-face {
  font-family: consolas;
  src: url('../fonts/Consolas/index.eot');
  src: url('../fonts/Consolas/index.woff') format('woff'), url('../fonts/Consolas/index.svg#index.svg') format('svg');
}

@font-face {
  font-family: 'Product-Sans';
  src: url('../fonts/Consolas/index.eot');
  src: url('../fonts/Product-Sans.ttf');
}

@font-face {
  font-family: 'Product-Sans-Italic';
  src: url('../fonts/Product-Sans.ttf');
}

@font-face {
  font-family: 'LiBian';
  src: url('../fonts/LiBianGBT.ttf');
}
